*{
    background-color: black;
    color: white;
}
#game{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:white;
  visibility: hidden;
}

#panel {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  padding: 10px;
  font-size: 20pt;
}
#question{
  visibility: hidden;
  text-align: center;
}
#taskbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 450px;
  margin: 8px auto;
}
#easy{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 450px;
  grid-auto-rows: 150px;
  margin: 0 auto;
  visibility: hidden;

}
#hard{
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 450px;
  margin: 0 auto;
  grid-auto-rows: 150px;
  display: grid;
  visibility: hidden;

}
#easy div{
  background-color: white;
    margin: 5px;
    border-radius: 10px;
}
#hard div{
  background-color:white;
    margin: 5px;
    border-radius: 10px;
}
#btnReload{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  padding: 10px;
  font-size: 20pt;
  visibility: hidden;
}
#result{
  visibility: hidden;
}
#comboBoxLevel{
  visibility: visible;
}